@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@layer base {
	html {
		scroll-behavior: smooth;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	body {
		@apply bg-zinc-50/50 text-zinc-900 dark:bg-zinc-950 dark:text-zinc-100 min-h-screen selection:bg-zinc-900 selection:text-white dark:selection:bg-white dark:selection:text-zinc-900;
		font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
	}
}

/* 极简自定义滚动条 */
.scrollbar-none::-webkit-scrollbar {
	display: none;
}
.scrollbar-none {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
